# Elasticsearch
ELASTIC_HOST=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
ELASTIC_POSTS_INDEX=
ELASTIC_VERIFY_CERTS=
ELASTIC_CA_CERTS=
ELASTIC_REQUEST_TIMEOUT=
ELASTIC_EMBEDDING_DIMS=

# ML Models
FILTER_MODEL_NAME=
FILTER_TARGET_LABEL=
SENTENCE_MODEL_NAME=
SENTIMENT_MODEL_NAME=
ZERO_SHOT_MODEL_NAME=
NER_MODEL_NAME=
